Title: 4b Study 
names: John Alison, Alejandro Espinosa, Chuyuan Liu, Sindhu Murthy
institution: Carnegie Mellon University

#topDir: analysis/plots_synthetic_datasets_all_new_jet_def/RunII/passPreSel/fourTag/
# topDir: analysis/plots_synthetic_datasets_all_00-07-02-fixdR/RunII/passPreSel/fourTag/
#topDir: analysis/plots_synthetic_datasets_all_00-07-02-fixdR/RunII/passPreSel/fourTag/
#topDir: analysis/plots_synthetic_datasets_all_00-07-02-wPSData/RunII/passPreSel/fourTag/
#topDir: analysis/plots_synthetic_datasets_all_00-08-00-fixes/RunII/passPreSel/fourTag/
topDir: PLOTDIR/YEAR/passPreSel/fourTag/
