section: passMDRs
subsection: SB
transition: SB Plots

# SB
subDir: sum/data

# event Level
slideTitle: SB / passMDRs / canJets
canJets_pt canJets_eta canJets_pz canJets_mass
canJets_energy canJets_phi
# FvT SvB_q_score SvB_ps SvB_MA_ps
#SvB_ps_zz SvB_ps_zh SvB_ps_hh
#SvB_MA_ps_zz SvB_MA_ps_zh SvB_MA_ps_hh
#xZH xZZ mZH mZZ
#SvB_ptt xWt t/rWbW
##m012 m013 m023 m123
#st s4j nSelJets nAllJets
#dBB dRBB mjjOther ptjjOther
#
## 4b
#slideTitle: SB / passMDRs / 4-b systemn
#v4j/pt_l v4j/m_l v4j/pz_l
#
#
#slideTitle: SB / passMDRs / leadM
#leadM/pt_m leadM/eta leadM/phi leadM/m
#leadM/dR
#
#slideTitle: SB / passMDRs / sublM
#sublM/pt_m sublM/eta sublM/phi sublM/m
#sublM/dR
#
#slideTitle: SB / passMDRs / close
#close/pt_m close/eta close/phi close/m
#close/dR
#
#slideTitle: SB / passMDRs / other
#other/pt_m other/eta other/phi other/m
#other/dR
#
#slideTitle: SB / passMDRs / canJet0
#canJet0/pt_m canJet0/eta canJet0/phi canJet0/deepFlavB
#
#slideTitle: SB / passMDRs / canJet1
#canJet1/pt_m canJet1/eta canJet1/phi canJet1/deepFlavB
#
#slideTitle: SB / passMDRs / canJet2
#canJet2/pt_m canJet2/eta canJet2/phi canJet2/deepFlavB
#
#slideTitle: SB / passMDRs / canJet3
#canJet3/pt_m canJet3/eta canJet3/phi canJet3/deepFlavB
#
#slideTitle: SB / passMDRs / othJets
#othJets/pt_m othJets/eta othJets/phi othJets/deepFlavB
#
#slideTitle: SB / passMDRs / allNotCanJets
#allNotCanJets/pt_m allNotCanJets/eta allNotCanJets/phi allNotCanJets/deepFlavB
#
#
#
#
# 
# subsection: SR 
# transition: SR 
# 
# subDir: SR
# slideTitle: SR  / passMDRs / Event-Level
# FvT SvB_q_score SvB_ps SvB_MA_ps
# SvB_ps_zz SvB_ps_zh SvB_ps_hh
# SvB_MA_ps_zz SvB_MA_ps_zh SvB_MA_ps_hh
# xZH xZZ mZH mZZ
# SvB_ptt xWt t/rWbW
# #m012 m013 m023 m123
# st s4j nSelJets nAllJets
# dBB dRBB mjjOther ptjjOther
# 
# 
# # 4b
# slideTitle: SR / passMDRs / 4-b systemn
# v4j/pt_l v4j/m_l v4j/pz_l
# 
# 
# slideTitle: SR / passMDRs / leadM
# leadM/pt_m leadM/eta leadM/phi leadM/m
# leadM/dR
# 
# slideTitle: SR / passMDRs / sublM
# sublM/pt_m sublM/eta sublM/phi sublM/m
# sublM/dR
# 
# slideTitle: SR / passMDRs / close
# close/pt_m close/eta close/phi close/m
# close/dR
# 
# slideTitle: SR / passMDRs / other
# other/pt_m other/eta other/phi other/m
# other/dR
# 
# slideTitle: SR / passMDRs / canJet0
# canJet0/pt_m canJet0/eta canJet0/phi canJet0/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet1
# canJet1/pt_m canJet1/eta canJet1/phi canJet1/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet2
# canJet2/pt_m canJet2/eta canJet2/phi canJet2/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet3
# canJet3/pt_m canJet3/eta canJet3/phi canJet3/deepFlavB
# 
# slideTitle: SR / passMDRs / othJets
# othJets/pt_m othJets/eta othJets/phi othJets/deepFlavB
# 
# slideTitle: SR / passMDRs / allNotCanJets
# allNotCanJets/pt_m allNotCanJets/eta allNotCanJets/phi allNotCanJets/deepFlavB

