section: passMDRs
subsection: SB
transition: canJets

# SB
subDir: sum/data

# event Level
slideTitle: canJets
canJets_pt canJets_eta canJets_pz canJets_mass
canJets_energy canJets_phi

slideTitle: canJet0
canJet0_pt canJet0_eta canJet0_pz canJet0_mass
canJet0_energy canJet0_phi

slideTitle: canJet1
canJet1_pt canJet1_eta canJet1_pz canJet1_mass
canJet1_energy canJet1_phi

slideTitle: canJet2
canJet2_pt canJet2_eta canJet2_pz canJet2_mass
canJet2_energy canJet2_phi

slideTitle: canJet3
canJet3_pt canJet3_eta canJet3_pz canJet3_mass
canJet3_energy canJet3_phi

slideTitle: selJets
selJets_pt selJets_eta selJets_pz selJets_mass
selJets_energy selJets_phi

slideTitle: othJets
othJets_pt othJets_eta othJets_pz othJets_mass
othJets_energy othJets_phi





transition: di-jet min dr

slideTitle: close
#  quad_jets = ["quadJet_min_dr","quadJet_selected"]
#    di_jets = ["lead","subl","close","other"]
quadJet_min_dr_close_pt quadJet_min_dr_close_mass quadJet_min_dr_close_phi quadJet_min_dr_close_eta
quadJet_min_dr_close_dr quadJet_min_dr_close_pz 


slideTitle:  other

quadJet_min_dr_other_pt quadJet_min_dr_other_mass quadJet_min_dr_other_phi quadJet_min_dr_other_eta
quadJet_min_dr_other_dr quadJet_min_dr_other_pz 

transition: di-jet selected
slideTitle:  lead

quadJet_selected_lead_pt quadJet_selected_lead_mass quadJet_selected_lead_phi quadJet_selected_lead_eta
quadJet_selected_lead_dr quadJet_selected_lead_pz 

slideTitle:  lead

quadJet_selected_subl_pt quadJet_selected_subl_mass quadJet_selected_subl_phi quadJet_selected_subl_eta
quadJet_selected_subl_dr quadJet_selected_subl_pz 

transition: quad Jet

slideTitle:  v4j
v4j_pt v4j_phi v4j_eta v4j_mass


transition: top quark

slideTitle:  Top Cand jets
top_cand_W_l_pt top_cand_W_j_pt top_cand_b_pt
top_cand_W_l_phi top_cand_W_j_phi top_cand_b_phi
top_cand_W_l_eta top_cand_W_j_eta top_cand_b_eta

slideTitle:  Reco W Cand
top_cand_W_p_mass  top_cand_W_p_eta top_cand_W_p_pt

slideTitle:  Reco Top Cand
top_cand_xW xW xbW top_cand_xbW
top_cand_xWt top_cand_xWbW top_cand_rWbW
top_cand_t_mass top_cand_t_eta top_cand_t_pt



transition: Event Level
slideTitle:  Event Level
selJets_n othJets_n hT hT_selected
SvB_MA_ptt_logy SvB_ptt_logy SvB_MA_tt_vs_mj_logy SvB_tt_vs_mj_logy
SvB_MA_ps_zh_logy SvB_MA_ps_zz_logy SvB_MA_ps_hh_logy
SvB_ps_zh_logy SvB_ps_zz_logy SvB_ps_hh_logy



# FvT SvB_q_score SvB_ps SvB_MA_ps
#SvB_ps_zz SvB_ps_zh SvB_ps_hh
#SvB_MA_ps_zz SvB_MA_ps_zh SvB_MA_ps_hh
#xZH xZZ mZH mZZ
#SvB_ptt xWt t/rWbW
##m012 m013 m023 m123
#st s4j nSelJets nAllJets
#dBB dRBB mjjOther ptjjOther
#
## 4b
#slideTitle: SB / passMDRs / 4-b systemn
#v4j/pt_l v4j/m_l v4j/pz_l
#
#
#slideTitle: SB / passMDRs / leadM
#leadM/pt_m leadM/eta leadM/phi leadM/m
#leadM/dR
#
#slideTitle: SB / passMDRs / sublM
#sublM/pt_m sublM/eta sublM/phi sublM/m
#sublM/dR
#
#slideTitle: SB / passMDRs / close
#close/pt_m close/eta close/phi close/m
#close/dR
#
#slideTitle: SB / passMDRs / other
#other/pt_m other/eta other/phi other/m
#other/dR
#
#slideTitle: SB / passMDRs / canJet0
#canJet0/pt_m canJet0/eta canJet0/phi canJet0/deepFlavB
#
#slideTitle: SB / passMDRs / canJet1
#canJet1/pt_m canJet1/eta canJet1/phi canJet1/deepFlavB
#
#slideTitle: SB / passMDRs / canJet2
#canJet2/pt_m canJet2/eta canJet2/phi canJet2/deepFlavB
#
#slideTitle: SB / passMDRs / canJet3
#canJet3/pt_m canJet3/eta canJet3/phi canJet3/deepFlavB
#
#slideTitle: SB / passMDRs / othJets
#othJets/pt_m othJets/eta othJets/phi othJets/deepFlavB
#
#slideTitle: SB / passMDRs / allNotCanJets
#allNotCanJets/pt_m allNotCanJets/eta allNotCanJets/phi allNotCanJets/deepFlavB
#
#
#
#
# 
# subsection: SR 
# transition: SR 
# 
# subDir: SR
# slideTitle: SR  / passMDRs / Event-Level
# FvT SvB_q_score SvB_ps SvB_MA_ps
# SvB_ps_zz SvB_ps_zh SvB_ps_hh
# SvB_MA_ps_zz SvB_MA_ps_zh SvB_MA_ps_hh
# xZH xZZ mZH mZZ
# SvB_ptt xWt t/rWbW
# #m012 m013 m023 m123
# st s4j nSelJets nAllJets
# dBB dRBB mjjOther ptjjOther
# 
# 
# # 4b
# slideTitle: SR / passMDRs / 4-b systemn
# v4j/pt_l v4j/m_l v4j/pz_l
# 
# 
# slideTitle: SR / passMDRs / leadM
# leadM/pt_m leadM/eta leadM/phi leadM/m
# leadM/dR
# 
# slideTitle: SR / passMDRs / sublM
# sublM/pt_m sublM/eta sublM/phi sublM/m
# sublM/dR
# 
# slideTitle: SR / passMDRs / close
# close/pt_m close/eta close/phi close/m
# close/dR
# 
# slideTitle: SR / passMDRs / other
# other/pt_m other/eta other/phi other/m
# other/dR
# 
# slideTitle: SR / passMDRs / canJet0
# canJet0/pt_m canJet0/eta canJet0/phi canJet0/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet1
# canJet1/pt_m canJet1/eta canJet1/phi canJet1/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet2
# canJet2/pt_m canJet2/eta canJet2/phi canJet2/deepFlavB
# 
# slideTitle: SR / passMDRs / canJet3
# canJet3/pt_m canJet3/eta canJet3/phi canJet3/deepFlavB
# 
# slideTitle: SR / passMDRs / othJets
# othJets/pt_m othJets/eta othJets/phi othJets/deepFlavB
# 
# slideTitle: SR / passMDRs / allNotCanJets
# allNotCanJets/pt_m allNotCanJets/eta allNotCanJets/phi allNotCanJets/deepFlavB

